* {
  box-sizing: border-box;
}

.check_theme {
  font-size: 13px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  padding: 4px;
}

.task {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task_list {
  display: flex;
}

.panel-blue,
.panel-pink {
  width: 800px;
  border: 1px solid rgb(230, 218, 218);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 1px;
}

.panel-blue {
  display: flex;
  justify-content: center;
  color: #f2e259;
  background-image: url(./images/blue.jpg);
}

.panel-pink {
  display: flex;
  justify-content: center;
  color: rgb(169, 4, 178);
  background-image: url(./images/pink.jpg);
}

.button-blue,
.button-pink {
  width: 70px;
  border: 1px solid #777;
  padding: 5px;
  margin-right: 10px;
}

.button-pink {
  background: rgb(229, 6, 155);
  color: #fff;
}

.button-blue {
  background: #e2ed09;
  color: #222;
}

input[type="checkbox"] {
  margin-right: 10px;
}
